body {
  padding: 40px;

  .page {
    max-width: 1200px;
    margin: 0 auto;

    h1 {
      color: $black;
      @include body-font;
      font-weight: 700;
      margin-top: 0;
      color: $ras-green;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 15px;

        div,
        span {
          @include body-font;
          font-size: 1.2rem;
        }
      }
    }
  }
}
